<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-interval"
    version="0.0.1">

    <name>interval</name>
    <description>A cordova plugin, a JS version of interval SDK</description>
    <author>18605807725</author>
    <license>MIT</license>
    <keywords>cordova,interval</keywords>
    <repo></repo>
    <issue></issue>


    <!-- js module-->
    <js-module src="www/interval.js" name="interval">
        <clobbers target="interval" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        
    </platform>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="interval">
                <param name="android-package" value="gtzn.cordova.interval.CDVInterval"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CDVInterval.java" target-dir="gtzn/cordova/interval" />
        <source-file src="src/android/ScanThread.java" target-dir="gtzn/cordova/interval" />
        <source-file src="src/android/Interval.java" target-dir="gtzn/cordova/interval" />
    </platform>
</plugin>