<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-tts"
    version="0.0.1">

    <name>tts</name>
    <description>A cordova plugin, a JS version of tts SDK</description>
    <author>18605807725</author>
    <license>MIT</license>
    <keywords>cordova,tts</keywords>
    <repo></repo>
    <issue></issue>


    <!-- js module-->
    <js-module src="www/tts.js" name="tts">
        <clobbers target="tts" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        
    </platform>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="tts">
                <param name="android-package" value="gtzn.cordova.tts.CDVTts"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
           
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
        </config-file>

        <source-file src="src/android/CDVTts.java" target-dir="gtzn/cordova/tts" />
    </platform>
</plugin>