<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-bridge"
    version="0.0.1">

    <name>bridge</name>
    <description>A cordova plugin, a JS version of bridge SDK</description>
    <author>18605807725</author>
    <license>MIT</license>
    <keywords>cordova,bridge</keywords>
    <repo></repo>
    <issue></issue>


    <!-- js module-->
    <js-module src="www/bridge.js" name="bridge">
        <clobbers target="bridge" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="bridge">
                <param name="ios-package" value="CDVBridge"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/AppDelegate+Bridge.h" />
        <source-file src="src/ios/AppDelegate+Bridge.m" />
        <header-file src="src/ios/CDVURLProtocolFreeGo.h" />
        <source-file src="src/ios/CDVURLProtocolFreeGo.m" />
        <header-file src="src/ios/CDVBridge.h" />
        <source-file src="src/ios/CDVBridge.m" />
        
        <!-- info.plist config -->
        <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>mbspay</string>
                <string>loongpayapp</string>
                <string>weixin</string>
                <string>weixinULAPI</string>
                <string>secretfree</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>comccbpay105000047330004freego</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Other required frameworks -->
        <framework src="MobileCoreServices.framework" />
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libz.tbd" />
        <framework src="libc++.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMotion.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="bridge">
                <param name="android-package" value="gtzn.cordova.bridge.CDVBridge"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
        </config-file>

        <source-file src="src/android/CDVBridge.java" target-dir="gtzn/cordova/bridge" />
    </platform>
</plugin>
