<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="IAmYourDad" 
    version="0.0.1" 
    android-packageName="com.tongda.putuoshanlvyoubashi"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>普陀山旅游巴士</name>
    <description>
        普陀山旅游巴士.
    </description>
    <author email="565828928@qq.com">
        gtzn
    </author>

    <!-- Defines the app's starting page in the top-level web assets directory.  -->
    <content src="index.html" />

    <!-- Controls which network requests (images, XHRs, etc) are allowed to be made (via cordova native hooks).  -->
    <access origin="*" />

    <!-- Allow links to xxxxxx -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <!-- Controls which URLs the app is allowed to ask the system to open. -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="wein:*" />
    <allow-intent href="alipay:*" />

    <platform name="android">
        <allow-intent href="market:*" />

        <!-- disable the splashscreen -->
        <!-- <preference name="SplashScreenDelay" value="0" /> -->


        <!--  -->
        <hook type="after_prepare" src="scripts/after_prepare/index.js" />

        <!-- icons -->
        <icon src="res/screen/android/appIcon/icon-20@2x.png" />
        <icon src="res/screen/android/appIcon/icon-20@3x.png" />
        <icon src="res/screen/android/appIcon/icon-29.png" />
        <icon src="res/screen/android/appIcon/icon-29@2x.png" />
        <icon src="res/screen/android/appIcon/icon-29@3x.png" />
        <icon src="res/screen/android/appIcon/icon-40@2x.png" />
        <icon src="res/screen/android/appIcon/icon-40@3x.png" />
        <icon src="res/screen/android/appIcon/icon-57.png" />
        <icon src="res/screen/android/appIcon/icon-57@2x.png" />
        <icon src="res/screen/android/appIcon/icon-60@2x.png" />
        <icon src="res/screen/android/appIcon/icon-60@3x.png" />
        <icon src="res/screen/android/appIcon/icon-40.png" />
        <icon src="res/screen/android/appIcon/icon-40@2x.png" />
        <icon src="res/screen/android/appIcon/icon-50.png" />
        <icon src="res/screen/android/appIcon/icon-50@2x.png" />
        <icon src="res/screen/android/appIcon/icon-72.png" />
        <icon src="res/screen/android/appIcon/icon-72@2x.png" />
        <icon src="res/screen/android/appIcon/icon-76.png" />
        <icon src="res/screen/android/appIcon/icon-76@2x.png" />
        <icon src="res/screen/android/appIcon/icon-83.5@2x.png" />
        <icon src="res/screen/android/appIcon/icon-1024.png" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screen/android/appLaunchImage/Default@2x~android~anyany.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- icons -->
        <icon src="res/screen/ios/appIcon/icon-20@2x.png" width="40" height="40" />
        <icon src="res/screen/ios/appIcon/icon-20@3x.png" width="60" height="60" />
        <icon src="res/screen/ios/appIcon/icon-29.png" width="29" height="29" />
        <icon src="res/screen/ios/appIcon/icon-29@2x.png" width="58" height="58" />
        <icon src="res/screen/ios/appIcon/icon-29@3x.png" width="87" height="87" />
        <icon src="res/screen/ios/appIcon/icon-40@2x.png" width="80" height="80" />
        <icon src="res/screen/ios/appIcon/icon-40@3x.png" width="120" height="120" />
        <icon src="res/screen/ios/appIcon/icon-57.png" width="57" height="57" />
        <icon src="res/screen/ios/appIcon/icon-57@2x.png" width="114" height="114" />
        <icon src="res/screen/ios/appIcon/icon-60@2x.png" width="120" height="120" />
        <icon src="res/screen/ios/appIcon/icon-60@3x.png" width="180" height="180" />
        <icon src="res/screen/ios/appIcon/icon-20-ipad.png" width="20" height="20" />
        <icon src="res/screen/ios/appIcon/icon-20@2x-ipad.png" width="40" height="40" />
        <icon src="res/screen/ios/appIcon/icon-29-ipad.png" width="29" height="29" />
        <icon src="res/screen/ios/appIcon/icon-29@2x-ipad.png" width="58" height="58" />
        <icon src="res/screen/ios/appIcon/icon-40.png" width="40" height="40" />
        <icon src="res/screen/ios/appIcon/icon-40@2x.png" width="80" height="80" />
        <icon src="res/screen/ios/appIcon/icon-50.png" width="50" height="50" />
        <icon src="res/screen/ios/appIcon/icon-50@2x.png" width="100" height="100" />
        <icon src="res/screen/ios/appIcon/icon-72.png" width="72" height="72" />
        <icon src="res/screen/ios/appIcon/icon-72@2x.png" width="144" height="144" />
        <icon src="res/screen/ios/appIcon/icon-76.png" width="76" height="76" />
        <icon src="res/screen/ios/appIcon/icon-76@2x.png" width="152" height="152" />
        <icon src="res/screen/ios/appIcon/icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/screen/ios/appIcon/icon-1024.png" width="1024" height="1024" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screen/ios/appLaunchImage/Default@2x~iphone~anyany.png" />
    </platform>
</widget>
